<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Final_Reports.Properties.Settings.newcrmdbConnectionString"
            connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=newcrmdb;Persist Security Info=True;User ID=newcrmdb;Password=Ey7B!~6477vm"
            providerName="System.Data.SqlClient" />
        <add name="Final_Reports.Properties.Settings.NewCRMdbConnectionString1"
            connectionString="Data Source=.;Initial Catalog=NewCRMdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>